/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8FA;
}

/* ------------------------------------------------------------ */
/* ---------------------Header-Section------------------------- */
/* ------------------------------------------------------------ */

header {
  background-color: #4728FE;
  padding-left: 4em;
}

nav {
  background-color: #4728FE;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3em;
  padding-top: 1.4em;
  gap: 1.8em;
}

.nav-item {
  color: #ffffff;
  font-size: 0.8em;
  cursor: pointer;
}

.nav-item-active {
  color: #541a97;
  font-size: 0.9em;
  background-color: #ffffff;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  cursor: pointer;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  height: 52vh;
  justify-content: center;
}

.header-text h2 {
  color: #ffffff;
  font-size: 3em;
}

.header-text p {
  color: #ffffff;
  font-size: 1em;
}

.header-image {
  position: absolute;
  top: 93px;
  right: 0;
  width: 40em;
}

/* ------------------------------------------------------------ */
/* ------------------Company-Text-Section---------------------- */
/* ------------------------------------------------------------ */

.companies {
  padding-left: 4em;
  margin-top: 2.2em;
}

.company-items {
  color: #000000;
  font-family: 'Righteous';
  font-size: 1.5em;
  text-decoration: none;
}

.company-items~a {
  margin-left: 4.5em;
}

/* ------------------------------------------------------------ */
/* -------------------Api-Cords-Section------------------------ */
/* ------------------------------------------------------------ */

.api {
  margin: 7.8em 0;
  padding-left: 4em;
}

.api-heading {
  font-size: 3em;
} 

.cards {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 92vw;
}

.card , .card-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  cursor: pointer;
}

.card-active {
  background-color: #ffffff;
  padding: 2.4em 1em;
  border-radius: 0.7em;
  box-shadow: 1.1px 2.2px 3.2px hsl(0deg 0% 0% / 0.47) , -1.1px 1.2px 1.2px hsl(0deg 0% 0% / 0.47);
}

.card-head-active {
  color: #5A31FC;
}

.cards::after {
  content: ">";
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5A31FC;
  width: 1.4em;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 2em;
  cursor: pointer;
}

.cards div:nth-child(3) {
  height: 11.6em;
}

/* ------------------------------------------------------------ */
/* -------------------Blog-Cards-Section----------------------- */
/* ------------------------------------------------------------ */

.blog-heading {
  margin-top: -1em;
  padding-left: 3em;
  font-size: 1.4rem;
}

.blog-heading h1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 1.4em;
}

.blog-heading h1::after {
  display: inline-block;
  content: "See All Article";
  color: #541a97; 
  font-size: 0.4em;
  cursor: pointer;
}

.blog-cards {
  margin-top: 3em;
  padding-left: 4em;
  display: flex;
  justify-content: space-between;
  padding-right: 4em;
}

.blog-card {
  position: relative;
  background-color: #ffffff;
  width: 42.5vw;
  border-radius: 5.6em 1.2em 1.2em 1.2em;
  display: flex;
}

.blog-content {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  padding: 2em 4.5em;
}

.blog-content h6 {
  color: #541a97;
  font-size: 1em;
}

.blog-content h3 {
  font-size: 1.7em;
}

.blog-content small {
  font-size: 0.9em;
  font-weight: 600;
}

.blog-bottom , .blog-author{
  position: absolute;
  bottom: -9%;
  right: 40%;
}

.blog-author {
  width: 8em;
  bottom: 1%;
  right: 16%;
}
 
.blog-image img {
  width: 16em;
}

/* ------------------------------------------------------------ */
/* ----------------------Faq-Section--------------------------- */
/* ------------------------------------------------------------ */

.faq-section {
  margin: 8em 0em;
  background-color: #E9EDFF;
  padding-left: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.faq-content h2 {
  font-size: 2em;
}

.faq-content h4:nth-child(2) {
  font-weight: 200;
}

.faq-content button {
  border: none;
  background-color: #5A31FC;
  color: #ffffff;
  padding: 0.6em 1.4em;
  border-radius: 0.3em;
  cursor: pointer;
}

.faq-image img {
  width: 48em;
}

/* ------------------------------------------------------------ */
/* ---------------------Download-Section----------------------- */
/* ------------------------------------------------------------ */

.download-section {
  margin-bottom: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4em;
}

.download-content span {
  font-weight: 200;
}

.download-email {
  margin-right: 4em;
  width: 40em;
  display: flex;
  justify-content: space-between;
  padding: 0.1em 0em;
  padding-left: 2em;
  border-radius: 1.8em;
  background-color: #E9EDFF;
}

.download-email form input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 36.5em;
}

.download-email form button {
  border: none;
  background-color: #5A31FC;
  color: #ffffff;
  padding: 0.8em 2.6em;
  border-radius: 06em;
  cursor: pointer;
}

/* ------------------------------------------------------------ */
/* --------------------Footer-Section-------------------------- */
/* ------------------------------------------------------------ */

.footer-section {
  height: 40vh;
  padding:0em  4em;
  background-color: #4828FD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list , .logos-list{
  list-style-type: none;
  color: #ffffff;
  margin-top: 2em;
  display: flex;
  gap: 2em;
}

.list-items::after {
  content: "";
  height: 0.8em;
  width: 0.05em;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 1.2em;
}

.list-items:first-child::after , .list-items:last-child::after {
  display: none;
}

.footer-right .logos-list .list-items:first-child::after {
  content: "";
  height: 0.8em;
  width: 0.05em;
  background-color: #ffffff;
  display: inline-block;
  margin-left: 1.2em;
}

.footer-logo {
  margin-left: 3.5em;
}

.sub-footer-right {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.footer-logos , .list-items {
  cursor: pointer;
}

/* ------------------------------------------------------------ */
/* ---------------------Media-Query---------------------------- */
/* ------------------------------------------------------------ */

@media screen and (max-width: 1597px) {
  .blog-content h3 {
      font-size: 1.4vw;
    }      

  .blog-content small {
      font-size: 0.8vw;
  }

  .blog-author {
      right: 14%;
    }  
}

@media screen and (max-width: 1418px) {
  .header-image {
      width: 45vw;
    }

  .header-text h2 {
      font-size: 3.5vw;
    }
    
  .header-text p {
      font-size: 1.6vw;
    }

  .cards {
      flex-wrap: wrap;
      gap: 0.5em;
    }
    
  .blog-cards {
      flex-wrap: wrap;
      gap: 2em;
    }

  .blog-card {
      width: 90vw;
    }
    
  .faq-image img {
      width: 48vw;
    }  

}

@media screen and (max-width: 1069px) {
  .download-section {
      flex-direction: column;
      gap: 1em;
    }     
}

@media screen and (max-width: 911px) {
  .header-image {
      display: none;
    }

  .header-text h2 {
      font-size: 6vw;
    }
    
  .header-text p {
      font-size: 2vw;
    }

  .footer-section {
      flex-direction: column;
      justify-content: center;
      gap: 4em;
    }
    
  .footer-logo {
      margin-left: 11em;
    }

  .companies {
      display: flex;

    }

  .cards {
      width: 88vw;
    }
}

@media screen and (max-width: 673px) {
.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding-left: 0em;
}

.company-items~a {
  margin-left: 0em;
}

header , .api , .blog-heading , .blog-cards , .faq-section {
  padding-left: 0.5em;
}

.cards ,  .blog-card  {
  width: 96vw;
}

.download-email {
  width: 85vw;
}

.download-email form input {
  width: 68vw;
}

.download-email form button {
  padding: 0.8vw 2.6vw;
}
}

/* ------------------------------------------------------------ */